name: appium-android

on:
  push:
    branches: [ "main" ]

jobs:
  run-mobile-tests:
    runs-on: macos-latest

    steps:
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Pull the project into the runner
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          brew tap homebrew/cask
          brew install --cask android-sdk
          echo "export ANDROID_HOME=/usr/local/share/android-sdk" >> $GITHUB_ENV
          echo "export PATH=$ANDROID_HOME/emulator:$ANDROID_HOME/tools:$ANDROID_HOME/tools/bin:$ANDROID_HOME/platform-tools:$PATH" >> $GITHUB_ENV

      - name: Accept SDK licenses
        run: yes | sdkmanager --licenses

      - name: Install Android SDK packages
        run: sdkmanager "platform-tools" "platforms;android-29" "emulator"

      - name: Setup Appium
        run: |
          npm install -g appium@1.22
          appium -v
          nohup appium &>/dev/null &

      - name: Start Emulator
        run: |
          echo "no" | avdmanager create avd -n test -k "system-images;android-29;google_apis;x86_64"
          $ANDROID_HOME/emulator/emulator -avd test -no-audio -no-boot-anim -gpu auto -qemu -m 2048 &
          adb wait-for-device
          adb shell input keyevent 82

      - name: Wait for Emulator to be ready
        run: |
          adb wait-for-device
          adb shell getprop init.svc.bootanim | grep -m 1 stopped

      - name: Run Android tests
        run: mvn clean test
