name: Appium CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test_android:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 20 on Windows
        uses: actions/setup-java@v3
        with:
          java-version: '20'
          distribution: 'temurin'

      - name: Download and Set up Android SDK
        run: |
          choco install -y android-sdk
          echo "sdk.dir=C:\\Android\\android-sdk" > local.properties
          echo "C:\\Android\\android-sdk\\cmdline-tools\\latest\\bin" >> $env:GITHUB_PATH
          echo "C:\\Android\\android-sdk\\platform-tools" >> $env:GITHUB_PATH

      - name: Accept Android SDK Licenses
        run: echo y | C:\\Android\\android-sdk\\cmdline-tools\\latest\\bin\\sdkmanager --licenses

      - name: Install Android SDK Packages
        run: C:\\Android\\android-sdk\\cmdline-tools\\latest\\bin\\sdkmanager "platform-tools" "platforms;android-30" "build-tools;30.0.3"

      - name: Connect to Real Android Device
        run: |
          adb devices
          adb wait-for-device

      - name: Set App Package and Activity
        run: |
          echo "APP_PACKAGE=com.optionsplay.app" >> $env:GITHUB_ENV
          echo "APP_ACTIVITY=com.optionsplay.app.MainActivity" >> $env:GITHUB_ENV

      - name: Run Appium Tests on Android
        run: mvn test "-Dsurefire.suiteXmlFiles=src/main/resources/testsuites/AndroidTest.xml" -DappPackage=$env:APP_PACKAGE -DappActivity=$env:APP_ACTIVITY

      - name: Generate Report on Android
        run: mvn surefire-report:report
